<h1 style="color:#74FFFF">Delete a Wine</h1>
<br /><br />
<br /><br />
<form method="post">
    @foreach (var wine in ViewBag.wines)
    {
        <div class="form-group">
            <label>
                <span class="text-center" style="color:white">@wine.Name</span>
                <input type="checkbox" name="wineIds" value="@wine.Id" class="form-control; text-center">
            </label>
        </div>
    }

    <input type="submit" value="Delete Selected Winess" class="btn btn-danger">

</form>