@model LiftOffProject.ViewModels.WineDetailViewModel

<h1 style="color:#74FFFF">@Model.Name</h1>

<table class="table">
    <tr>
        <th style="color:white">Category</th>
        <td style="color:white">@Model.WineCategoryName</td>
    </tr>
    <tr>
        <th style="color:white">Notes</th>
        <td style="color:white">@Model.NotesText</td>
    </tr>

</table>

<a style="color:white" asp-controller="Notes" asp-action="AddWine" asp-route-id="@Model.WineId">Add additional notes</a>
