@model LiftOffProject.ViewModels.WineDetailViewModel

<h1>@Model.Name</h1>

<table class="table">
    <tr>
        <th>Category</th>
        <td>@Model.WineCategoryName</td>
    </tr>
    <tr>
        <th>Notes</th>
        <td>@Model.NotesText</td>
    </tr>

</table>

<a asp-controller="Notes" asp-action="AddWine" asp-route-id="@Model.WineId">Add additional notes</a>
