@{
    ViewData["Title"] = "Home Page";
}
@model List<LiftOffProject.Models.Wine>


<div class="text-center">
    <h1 style="color:antiquewhite" class="display-4">Welcome To Wine Celler</h1>

    @*make these buttons instead of links*@

    <button><a class="btn default" asp-controller="List" asp-action="Index">List of All Wines in the Cellar</a></button>
    <button><a class="btn default" asp-controller="Home" asp-action="AddWine">Add a Wine to the Cellar</a></button>
    <button><a class="btn default" asp-controller="Search" asp-action="Index">Search Wines in the Cellar</a></button>
    <button><a class="btn default" asp-controller="WineCategory" asp-action="Add">Add a Category to the Cellar</a></button>
    <button><a class="btn default" asp-controller="Notes" asp-action="Add">Add a Note to the Cellar</a></button>
    <button><a class="btn default" asp-controller="Home" asp-action="Delete">Delete Wine</a></button>
</div>

<div class="text-center">
    <h2 style="color:antiquewhite">Don't Know What Type of Wine You Like?</h2>
    <h3 style="color:antiquewhite">Take Our Wine Quiz!</h3>
    <button><a class="btn default" asp-controller="Quiz" asp-action="QuizForm">Click Here!</a></button>
</div>

<div class="center">
    <div class="tenor-gif-embed" data-postid="15465402" data-share-method="host" data-aspect-ratio="1.33891" data-width="100%"><a href="https://tenor.com/view/betty-white-wine-cheers-drinks-red-wine-gif-15465402">Betty White Wine GIF</a>from <a href="https://tenor.com/search/betty+white-gifs">Betty White GIFs</a></div>
    <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
</div>

@if (Model.Count == 0)
{
    <h3 style="color:antiquewhite">No Wines In List Yet!</h3>
}
else
{
    <table class="table">
        <tr>
            <th>Wine Name</th>
            @*<th>Flavor</th>*@
        </tr>
        @foreach (Wine wine in Model)
        {
            <tr>
                <td><a asp-controller="Home" asp-action="Detail" asp-route-id="@wine.Id">@wine.Name</a></td>
                @*<td>@wine.Category</td>@* category.name doesn't return an object. Investigate or remove*@
            </tr>
        }
    </table>
}