@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Wine Celler</h1>
    <p><a asp-controller="Wine" asp-action="Index">List of All Wines in the Cellar</a></p>
    <p><a asp-controller="Search" asp-action="Index">Search Wines</a></p>
</div>
