
@model LiftOffProject.Models.WineQuiz


<h1 style="color:antiquewhite">Your Wine Selection: @Model.Name</h1>
<h4 style="color:antiquewhite">@Model.Description</h4>


@if (Model.Name == "Riesling")
{
    <img src="~/img/BGM_Riesling.png" alt="BGM_Riesling" />
    <p style="color:antiquewhite">Black Girl Magic Riesling, Price: $19.99</p>

}
else if (Model.Name == "Chardonnay")
{
    <img src="~/img/MSC_Chardonnay_2020.png" alt="MSC_Chardonnay_2020" />     
    <p style="color:antiquewhite">McBride Sisters Collection Chardonnay Central Coast California, Price: $16.99</p>

}
else if (Model.Name == "Pinot Grigio")
{
    <img src="~/img/MSC_Pinot_Gris.png" alt="MSC_Pinot_Gris" />
    <p style="color:antiquewhite">McBride Sisters Collection Marlborough Pinot Gris, Price: $16.99</p>
   
}
else if (Model.Name == "Sauvignon Blanc")
{
    <img src="~/img/MSC_Sauvignon_Blanc.png" alt="MSC_Sauvignon_Blanc" />
    <p style="color:antiquewhite">McBride Sisters Collection Sauvignon Blanc Marlborough New Zealand, Price: $16.99</p>
    
}
else if (Model.Name == "Merlot")
{
    <img src="~/img/BGM_Merlot.png" alt="BGM_Merlot" />
    <p style="color:antiquewhite">Black Girl Magic Merlot, Price: $24.99</p>
 
}
else if (Model.Name == "Pinot Noir")
{
    <img src="~/img/Pinot_Noir.png" alt="Pinot_Noir" />
    <p style="color:antiquewhite">McBride Sisters Collection Reserve Pinot Noir, Price: $69.99</p>
    
}
else if (Model.Name == "Cabernet Sauvignon")
{
    <img src="~/img/MSC_Red_Blend_2020.png" alt="MSC_Red_Blend_2020" />
    <p style="color:antiquewhite">McBride Sisters Collection Red Blend, Price: $18.99</p>
    
}
else if (Model.Name == "Zinfandel")
{
    <img src="~/img/BGM_Zinfandel.png" alt="BGM_Zinfandel" />
    <p style="color:antiquewhite">Black Girl Magic Zinfandel, Price: $24.99</p>
  
}